.main {
    color: white;
}

.trgrey {
    background-color: grey;
}

.trlgrey {
    background-color: lightgrey;
}

a {
    text-decoration: none;
    color: #44803F;
}

h1 {
    color: #146152;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    background-color: #B4CF66;
    padding: 24px 0px 24px 24px;
}

img {
    height: 200px;
}

nav {
    color: white;
    background-color: #FF5A33;
    padding: 16px;
    border-bottom: 1px solid black
}

.taco-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}
